<!-- <h1>Link Bank Account with Plaid</h1>
<button id="plaid-button">Connect Bank</button> -->

<html>
  {{! <title>Finance App</title> }}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>

  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

  <body class="w3-light-grey">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Budget Tracker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          </ul>

          <a class="nav-link" href="/home">Home</a>
          <a class="nav-link" href="/budget_profile">Budget Profile</a>
          <a class="nav-link" href="/profile">Account</a>
        </div>
      </div>
    </nav>
    {{! <body class="w3-light-grey"> }}
    <!-- Top container -->

    {{! <style type="text/css">
.w3-dark-grey {
    color:#fff!important; background-color:	#1010109c!important;
}
</style> }}

    {{! <div class="w3-bar w3-top w3-black w3-large" style="z-index:4;height:40px">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <button onclick="window.location.href='/home'" class="w3-bar-item w3-button bg-black text-white w3-left">Budget Tracker</button>
  <a href="/account_settings" class="w3-bar-item w3-button w3-padding w3-right"><i class="fa fa-cog fa-fw"></i>  Account Settings</a>
  <a href="/profile" class="w3-bar-item w3-button w3-padding w3-right"><i class="fa fa-user fa-fw"></i>  User Profile</a>
  <a href="/investment_profile" class="w3-bar-item w3-button w3-padding w3-right"><i class="fa fa-bank fa-fw"></i>  Investment Profile</a>
  <a href="/transaction_history" class="w3-bar-item w3-button w3-padding w3-right"><i class="fa fa-history fa-fw"></i>  Transaction History</a>
  <a href="/budget_profile" class="w3-bar-item w3-button w3-padding w3-right"><i class="fa fa-money fa-fw"></i>  Budget Profile</a>
  <a href="/home" class="w3-bar-item w3-button w3-padding w3-right"><i class="fa fa-home fa-fw"></i>  Home</a>
  
</div> }}

    <!-- Overlay effect when opening sidebar on small screens -->
    <div
      class="w3-overlay w3-hide-large w3-animate-opacity"
      onclick="w3_close()"
      style="cursor:pointer"
      title="close side menu"
      id="myOverlay"
    ></div>

    <!-- !PAGE CONTENT! -->
    <div
      class="w3-main"
      style="margin-left:0%;margin-right:0%;margin-top:48px;"
    >
      {{! <div class="w3-main" style="margin-left:225px;margin-top:70px;"></div> }}

      <div class="w3-main">
        {{! <h1>Link Bank Account with Plaid!!!!!</h1>
    <button id="plaid-button">Connect Bank</button> }}
        {{! <h5>Budget Details</h5> }}

        {{{body}}}

      </div>
      {{! <hr>

  <hr> }}

      {{! <div class="w3-row">


    </div> }}
      <br />

    </div>

    <!-- Footer -->
    {{! <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
      <div class="w3-container w3-dark-grey">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5>Finance App</h5>
        <a href="/budget_profile"> Budget Profile</a>
        <br>
        <a href="/investment_profile">Investment Profile</a>
        <br>
        <a href="/transaction_history">Transaction History</a>
        <br>
        <a href="/account_settings">Account Settings</a>
      </div>
    </div>
  </div>
  </footer> }}
  </body>
  <!-- End page content -->

  <script>
    var mySidebar = document.getElementById("mySidebar"); var overlayBg =
    document.getElementById("myOverlay"); function w3_open() { if
    (mySidebar.style.display === 'block') { mySidebar.style.display = 'none';
    overlayBg.style.display = "none"; } else { mySidebar.style.display =
    'block'; overlayBg.style.display = "block"; } } function w3_close() {
    mySidebar.style.display = "none"; overlayBg.style.display = "none"; }
  </script>

  <!--Load the AJAX API-->
  <script
    type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"
  ></script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart); function drawChart() { var data
    = new google.visualization.DataTable(); data.addColumn('string', 'Budget');
    data.addColumn('number', 'Dollars'); data.addRows([ ['Food', 3],
    ['Entertainment', 1], ['Shopping', 1], ['Payments', 1], ['Travel', 2] ]);
    var options = {'title':'Budget Profile', 'width':400, 'height':300}; var pie
    = new google.visualization.PieChart(document.getElementById('pie_div'));
    pie.draw(data, options); var bar = new
    google.visualization.BarChart(document.getElementById('bar_div'));
    bar.draw(data, options); }
  </script>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"
  ></script>
  <script>
    (async ($) => { const fetchLinkToken = async () => { const response = await
    fetch("/create-link-token"); const { linkToken } = await response.json();
    return linkToken; }; const handler = Plaid.create({ token: await
    fetchLinkToken(), onSuccess: async (publicToken, metadata) => {
    console.log(publicToken); console.log(metadata); setTimeout(function(){
    window.location.href='budget_profile'; }, 1000); await
    fetch("/token-exchange", { method: "POST", body: JSON.stringify({
    publicToken }), headers: { "Content-Type": "application/json", }, }); },
    onExit: async (error, metadata) => { console.log(error);
    console.log(metadata); }, onEvent: async (metadata) => {
    console.log(metadata); }, }); $("#plaid-button").on("click", function (e) {
    handler.open(); if(yes === 1) { window.location.href='budget_profile'; } });
    })(jQuery);
  </script>

</html>