<title>Finance App - Budget Profile</title>

<div class="w3-container">
  <h5>Budget Details</h5>
  <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table><br />
  <button class="w3-button w3-dark-grey">More Transactions  <i
      class="fa fa-arrow-right"
    ></i></button>
</div>