<div class="w3-container">
  <title>Budget Tracker - Account Settings</title>

  <h1>{{user}}'s Profile</h1>
  <footer>User Profiles Coming Soon!</footer>

  <footer>Example of login process seen here: <a href="https://github.com/apollomoon-ucf/Account_Creator.git" >https://github.com/apollomoon-ucf/Account_Creator.git<a/></footer>

  <br />

  {{! <h5>Username: </h5> }}
  <a href="/account_settings" class="button">Account Settings</buttaon>

</div>