<div class="w3-container">
  <title>Finance App - Account Settings</title>

  <h1>{{user}}'s Profile</h1>
  <footer>User Profiles Coming Soon! :)</footer>
  <br />

  {{! <h5>Username: </h5> }}
  <a href="/account_settings" class="button">Account Settings</buttaon>

</div>